# Backend

# Dependencies
backend/vendor/
backend/node_modules/

# NPM
backend/package.json
backend/package-lock.json

# Composer
backend/composer.lock

# Application Cache
backend/bootstrap/cache/*.php

# Environment
backend/.env
backend/.env.*

# Git
backend/.gitattributes

# Editor Configuration
backend/.editorconfig
backend/.prettierrc

# Frontend

# Dependencies
frontend/node_modules/

# Build Output
frontend/.nuxt/

# NPM
frontend/package.json
frontend/package-lock.json
frontend/.prettierrc

# Environment
frontend/.env
frontend/.env.*
